<h1>All students</h1>

<ul>
  <% @students.each do |student| %>
  <li>
    <div><%= student.name %></div>
    <div><%= student.nickname %></div>
    <div><%= student.email %></div>
    <img src="<%= student.avatar %>" />
  </li>
  <% end %>
</ul>